
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(207, 186, 186);
}

h1{
    font-size: 3rem;
    text-align: center;
    color: #000;
    padding-top: 10px;
}

.visualizar{
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    width: 8em;
    height: 8em;
    border: solid 2px #0000;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 25px;
    -webkit-box-shadow: 5px 7px 8px 1px rgba(0,0,0,0.8); 
box-shadow: 5px 7px 8px 1px rgba(0,0,0,0.8);

}

#color{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}